<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    빌트인 디렉티브 : HTML 태그 안에 들어가는 속성역할을 하며, v-라는 접두어가
    붙는다.
    <br />
    디렉티브는 DOM 엘리먼트가 뭔가를 수행하도록 지시하는 특수한 토큰이다.
    <div id="app">
      <a href="{{link}}">링크(<-- a tag 에러)</a><br />
      <!--디렉티브(Directives) 사용 : 동적으로 href 속성을 vue 인스턴스의 링크 link 데이터 속성과 연결(bind)-->
      잘되게 하는게 뭔데?
      <a v-bind:href="link">다음으로 링크</a><br />
      <a :href="link">다음으로 링크(v-bind 생략가능)</a>
      <br />
      <img v-bind:src="imageSrc" alt="동적 이미지" /><br />
      <h2 v-text="say"></h2>
      <h2>data 속성값1 : {{say}}</h2>
      <h2 v-once="say">data 속성값2 : {{say}}</h2>
      <h3>함수 호출 결과: {{sayFunc()}}</h3>

      <span v-text="aLinkNaver">문자열 그대로 출력(innerText )</span><br />
      <span v-html="aLinkNaver">문자열 그대로 출력(innerHTML )</span><br />

      <hr/>
      <!--양방향 데이터 바인딩 : v-model은 v-bind + v-on -->
      이름은 <input type="text" v-model="name" /> {{name}} <br />
      이름은
      <input type="text" v-bind:value="name" v-on:input="changeName" />
      {{name}}<br />
      이름은<input type="text" :value="name" @input="changeName" /> {{name}}


      <hr />
      <!--계산된 프로퍼티 관련-->
        a = {{a}}, b={{b}}<br/>
        a값 입력 : <input type="text" v-model="a" />
        <br> 입력된 a :{{a}} (타입 : {{typeof a}}) </br>
        a값 입력 : <input type="text" v-model.number="a" />

        <hr/>
        제어문 : 조건판단문(if), 반복문<br/>
        <h2 v-if="nai > 20">nai가 20 초과</h2>
        <h2 v-else-if="nai === 20">nai가 20 이네요</h2>
        <h2 v-else>nai가 20 미만</h2>

        <br/>
        제어문 : 반복문(for)<br/>
        <h3>오늘 할 일</h3>
        <ol>
            <li v-for="(todo, index) in todos" :key="index">{{todo.msg}}</li>
        </ol>

        <ul>
            <li v-for="(todo, index) in todos" :key="index">{{index + 1}}) {{todo.msg}}</li>
        </ul>
      <br />
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            link: "https://cafe.daum.net/flowlife",
            imageSrc: "google.png",
            say: "다정이는 해낼꺼야~",
            aLinkNaver: '<a href="https://naver.com">가자네이버로</a>',
            name: "이원재",

            a: "1", //  문자열 데이터
            nai: 27, // 숫자 데이터

            todos : [
                {msg:'아침 먹고'},
                {msg:'점심 먹고'},
                {msg:'집에 가기'},
            ],
          };
        },
        methods: {
          sayFunc() {
            this.say = "더위 절정";
            return this.say;
          },
          changeName(e) {
            this.name = e.target.value;
          },
        },
        computed: {
          // computed properties : 함수처럼 작동한다. 차이는 계산된 프로퍼티가 의존하는 요소가 변경되면 반응
          b() {
            return this.a + 1;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
